$wholeHeaderHeight: 120px;
$logoSize: 80px;
$basketSize: 60px;

shop-header {
  display: flex;
  justify-content: space-between;
  height: $wholeHeaderHeight;
  width: 100%;

  .shop-logo img {
    height: $logoSize;
    weight: $logoSize;
  }

  .basket {
    text-align: right;
    img {
      height: $basketSize;
      weight: $basketSize;
    }
  }

}
