<div class="row home-page">
  <category-menu></category-menu>
  <div class="col-md-4">
    <h1 x-large>Home sweet home</h1>
    <div class="home-content">home content</div>
  </div>
</div>

<!--<form (ngSubmit)="submitState(localState.value)" autocomplete="off">
  <input
    [value]="localState.value"
    (input)="localState.value = $event.target.value"
    placeholder="Submit Local State to App State"
    autofocus>
  <button>Submit Value</button>
</form>-->
<!--
    <input type="text" [value]="localState.value" (input)="localState.value = $event.target.value" autofocus>
    Rather than wiring up two-way data-binding ourselves with [value] and (input)
    we can use Angular's [(ngModel)] syntax
    <input type="text" name="textInput" [(ngModel)]="localState.value" autofocus>
<div>this.localState = {{ localState | json }}</div>-->
